.ant-drawer-header{
    display: none !important;
}

.ant-collapse-item{
    border: none !important;
}

.ant-collapse-content{
    border: none !important;
}

.ant-collapse-expand-icon{
    display: none !important;
}