.MainContainer {
  background-color: "#ffffff";
  padding: 10% 10% 20px 10%;
  border-top: hsl(0, 0%, 100%) 1px solid;
}

.MainRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.MainRowTitle {
  display: flex;
  color: #ffffff !important;
  align-items: center;
  justify-content: left;
  text-align: justify;
  width: 100%;
  font-size: 3em;
  font-weight: 800;
  margin: 5% 0px 1% 0px;
  @media (max-width: 768px) {
    font-size: 2em;
    margin: 13% 0px 1% 0px;
    border-bottom: #ffffff solid 0.5px;
  }
}

.MainRowText {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 100%;
  font-size: 1.5em;
  line-height: 200%;
  font-weight: 500;
  line-height: 200%;
  @media (max-width: 768px) {
    font-size: 1.2em;
    text-align: justify;
  }
}

:global {
  .ant-collapse {
    .ant-collapse-item {
      border-bottom: none !important;
      
      .ant-collapse-header {
        padding: 0 !important;
        
        &:hover {
          opacity: 0.8;
        }
      }
      
      .ant-collapse-content {
        background: transparent;
        color: white;
        
        .ant-collapse-content-box {
          padding: 16px 0;
        }
      }
    }
  }
}
