.MainContainer {
  background-color: "#ffffff";
  padding: 10% 10% 20px 10%;
  border-top: hsl(0, 0%, 100%) 1px solid;
}

.MainRow {
  display: flex;
  justify-content: space-around;
}

.MainImageRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.MainRowText {
  display: flex;
  color: #ffffff;
  justify-content: center;
  text-align: justify;
  width: 100%;
  font-size: 1.5em;
  font-weight: 500;
  @media (max-width: 768px) {
    font-size: 1.2em;
    text-align: justify;
  }
}
